*.DS_Store
logs/
.snakemake/
results/
data/collapsed
data/realcase*
collapsed/
group_results/
playground.py
motif-concensus.fa
delete.sh
playground.py
.idea/
data/test.fastq
compare.py
copy.sh
motif-list-13-new.fa
test.fastq
*.fastq
motif-concensus_amb.fa
motif*
