biopython==1.66
conda==4.0.7
conda-env==2.4.5
cycler==0.10.0
docutils==0.12
dropbox==5.2.1
ecdsa==0.13
filechunkio==1.6
ftputil==3.2
matplotlib==1.5.1
numpy==1.11.0
pandas==0.18.1
paramiko==1.16.0
pyaml==15.8.2
pycosat==0.6.1
pycrypto==2.6.1
pyparsing==2.1.4
pysftp==0.2.8
python-dateutil==2.5.3
pytz==2016.4
PyYAML==3.11
requests==2.9.1
scipy==0.17.1
six==1.10.0
snakemake==3.7.1
urllib3==1.12
